#main-div{
    min-height: 89vh;
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
}
#settings-form{
    align-items: center;
    width: 50%;
    padding: 3%;
    background-color: #edf5fc;
    border-radius: 30px;
}

.crd{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.btn{
    width: 100px; 
    transition: all .1s;
}

.btn:hover{
    transform: translateY(-5px);
    
}

.main-heading{
    font-weight: bold;
    font-size: 25px;
}

.sub-heading{
    font-weight: bold;
    font-size: large;
}

@media (max-width:400px){
    .controls{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px){
    #settings-form{
        width: 80%;
    }
}

@media (max-width: 200px) {
    .button-container {
        flex-direction: column;
        align-items: flex-end;
    }
}