<div id="main-div">
  <h3>SET UP CONNECTION</h3>
  <form
    id="connection-form"
    [formGroup]="ConnectionForm"
    (ngSubmit)="onSubmit(ConnectionForm.value)"
  >
    <div class="mb-3">
      <label for="portname" class="form-label">Port name</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="portname"
        formControlName="portname"
      >
        <option *ngFor="let p of PortNames" value="{{ p }}">{{ p }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="bps" class="form-label">Bits per second</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="bps"
        formControlName="bps"
      >
        <option value="1200">1200</option>
        <option value="2400">2400</option>
        <option value="4800">4800</option>
        <option value="9600">9600</option>
        <option value="14400">14400</option>
        <option value="38400">38400</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="databits" class="form-label">Data bits</label>
      <select class="form-select" id="databits" formControlName="databits">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="parity" class="form-label">Parity</label>
      <select class="form-select" id="parity" formControlName="parity">
        <option value="Even">Even</option>
        <option value="Mark">Mark</option>
        <option value="None">None</option>
        <option value="Odd">Odd</option>
        <option value="Space">Space</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="stopbits" class="form-label">Stop bits</label>
      <select class="form-select" id="stopbits" formControlName="stopbits">
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
      </select>
    </div>
    <!-- <div class="mb-3">
      <label for="flowcontrol" class="form-label">Flow control</label>
      <input type="text" class="form-control" id="exampleInputPassword1" />
    </div> -->
    <div class="button-container">
      <button
        type="button"
        class="btn btn-secondary m-1"
        (click)="resetValues()"
      >
        Reset
      </button>
      <button type="submit" class="btn btn-primary m-1" [disabled]="ConnectionForm.invalid">Submit</button>
    </div>
  </form>
</div>
