*{
    font-family: 'Roboto';
}
#con-form{
    align-items: center;
    width: 50%;
    background-color: aliceblue;
    margin: 0 auto;
    display: block;
    padding: 35px;
    border-radius: 30px;
}
#main-div{
    height: 100%;
    width: 100%;
}

.crd{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h3{
    text-align: center;
    display: block;
    
    margin: 15vh auto 10px auto;
    
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.btn{
    width: 100px; 
    transition: all .1s;
}

.btn:hover{
    transform: translateY(-5px);
    
}

@media (max-width: 500px){
    #con-form{
        width: 80%;
    }
}

@media (max-width: 200px) {
    .button-container {
        flex-direction: column;
        align-items: flex-end;
    }
}