<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="
    padding-top: 0px !important;
    min-height: 11vh;
    background-color: #345995 !important;
  "
>
  <div class="container-fluid">
    <a
      [routerLink]="['/dashboard', { outlets: { navRoute: ['home'] } }]"
      class="nav-title"
      >RTD Temperature Controller</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      style="justify-content: right"
    >
      <div
        class="navbar-nav"
        style="display: flex; justify-content: space-around"
      >
        <div class="nav-item">
          <a
            type="button"
            class="nav-link"
            [routerLink]="['/dashboard', { outlets: { navRoute: ['home'] } }]"
            >Home</a
          >
        </div>
        <div class="nav-item">
          <a
            type="button"
            class="nav-link"
            [routerLink]="[
              '/dashboard',
              { outlets: { navRoute: ['settings'] } }
            ]"
            >Settings</a
          >
        </div>

        <div class="nav-item">
          <a
            type="button"
            class="nav-link"
            [routerLink]="[
              '/dashboard',
              { outlets: { navRoute: ['manualmode'] } }
            ]"
            >Manual Mode</a
          >
        </div>

        <div class="nav-item" style="padding-top: 3px">
          <button
            class="nav-link"
            (click)="disconnect()"
            mat-raised-button
            color="warn"
          >
            Disconnect
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
