
*{
    font-size: 19px;
    font-family: 'Roboto';
}

.nav-title{
    text-decoration: none;
    color: yellow;
    font-weight:200; 
    font-family:'Kdam Thmor Pro';
    font-size: 28px;
    transition: all .1s;
}

.nav-title:hover{
    font-weight: bold; 
    font-size: 29px; 
}

.nav-link{
    color: white;
}
.nav-item{
    display: inline-block;
    color: white;
}

.nav-item :hover{
    color: yellow;
    transition: all .2s linear;
    transform: translateY(-5px);
}

.nav-item :focus{
    color:  yellow;
    transition: all .2s linear;
}