
*{
    font-size: 19px;
    font-family: 'Roboto';
}

.nav-title{
    text-decoration: none;
    color: #000;
    font-weight:900; 
    font-size: 22px;
    text-shadow: 5px 2px 9px rgb(177, 175, 178);
    transition: all .1s;
}

.nav-title:hover{
    font-weight: bold; 
    font-size: 24px; 
    text-shadow: 5px 2px 9px rgb(172, 172, 172)
}


.nav-item{
    display: inline-block;
    color: black;
}

.nav-item :hover{
    color: white;
    transition: all .2s linear;
    transform: translateY(-5px);
}

.disconnectbtn{
    display: inline-block;
    color: rgb(255, 74, 74);
}
