
*{
    font-size: 19px;
    font-family: cursive;
}

.nav-title{
    font-weight: bold; 
    font-style: italic; 
    text-shadow: 5px 2px 9px rgb(177, 175, 178);
}

.nav-title:hover{
    font-weight: bold; 
    font-size: 20px; 
    text-shadow: 5px 2px 9px rgb(255, 0, 0);
}


.nav-item{
    display: inline-block;
    color: black;
}

.nav-item :hover{
    color: white;
    transition: all .2s linear;
    transform: translateY(-5px);
}

.disconnectbtn{
    display: inline-block;
}

.disconnectbtn :hover{
    color: rgb(185, 0, 0);
    transition: all .1s linear;
    transform: translateY(-5px);
}
