<div class="sensor_btn">
    <h4 style=" font-weight: bold; font-family: cursive; color: black; ">
        Sensor status: 
        <span *ngIf="sensor_status" style="color: green;">ON</span>
        <span *ngIf="!sensor_status" style="color: red;">OFF</span>
    </h4>
  <label class="switch">
    <input type="checkbox" (click)="graphInitializer()"/>
    <span class="slider"></span>
  </label>
</div>
<div class="card" style="padding: 3%; margin: 1%; background-color: aliceblue;">
    <div style="width: 100%;" class="row">
        <div class="col-sm-12 col-md-10">
          <canvasjs-chart
            [options]="chartOptions"
            [styles]="{ width: '100%', height: '460px' }"
            (chartInstance)="getChartInstance($event)"
          ></canvasjs-chart>
        </div>
      
        <div class="col-sm-12 col-md-2">
          <h4 style="font-weight: bold; text-align: center">
            Threshold:
            <span>{{ settings.threshold }}</span>
          </h4>
          <h4 style="font-weight: bold; text-align: center">
            Indication:
            <span *ngIf="!danger" style="color: green">SAFE</span>
            <span id="danger" *ngIf="danger">DANGER!!</span>
          </h4>
        </div>
        <div></div>
      </div>
</div>