<div id="main-div" class="row justify-content-center align-items-center">
  <div
    class="section-1"
  >
    <div
      class="crd"
    >
      <div class="mb-4">
        <h4 style="text-align: center; font-weight: bold">LED Control</h4>
      </div>
      <div class="row" style="margin: 0">
        <div class="col-md col-sm-12"></div>
        <div style="text-align: center" class="col-md-2 col-sm-12">
          <input
            type="checkbox"
            class="btn-check"
            id="led1"
            autocomplete="off"
            (click)="setLed1()"
          />
          <label class="btn btn-outline-danger" for="led1">LED 1</label>
        </div>
        <div style="text-align: center" class="col-md-2 col-sm-12">
          <input
            type="checkbox"
            class="btn-check"
            id="led2"
            autocomplete="off"
            (click)="setLed2()"
          />
          <label class="btn btn-outline-success" for="led2">LED 2</label>
        </div>
        <div style="text-align: center" class="col-md-2 col-sm-12">
          <input
            type="checkbox"
            class="btn-check"
            id="led3"
            autocomplete="off"
            (click)="setLed3()"
          />
          <label class="btn btn-outline-primary" for="led3">LED 3</label>
        </div>
        <div class="col-md col-sm-12"></div>
      </div>
    </div>
  </div>
  <div
    class="section-2"
  >
    <div
      class="crd"
    >
      <div class="mb-4">
        <h4 style="text-align: center; font-weight: bold">PWM Duty Cycle</h4>
      </div>
      <form [formGroup]="PwmFormGroup" (ngSubmit)="setPWMDutyCycle()">
        <div class="row" style="text-align: center; margin: 0">
          <div class="col-md-4"></div>
          <div class="col-md-4 col-sm-12">
            <input
              [ngStyle]="{
                border:
                  Submitted && getPWMFormControls['pwmCycleControl'].errors
                    ? '1px solid red'
                    : '1px solid black'
              }"
              formControlName="pwmCycleControl"
              class="form-control"
              id="input_pwm"
              placeholder="45%"
            />
            <div
              class="form-error"
              [ngStyle]="{
                            'color': 'red', 
                            
                        }"
              *ngIf="Submitted && getPWMFormControls['pwmCycleControl'].errors"
            >
              Enter valid value between 0 to 100
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div style="text-align: center; padding: 1%">
          <button type="submit" class="btn btn-primary" style="min-width: 10%">
            SET
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="section-3"
  >
    <div
      class="crd"
    >
      <div>
        <h4 class="mb-4" style="text-align: center; font-weight: bold">
          Sensor Data Control
        </h4>
      </div>
      <div class="row" style="margin: 0">
        <div class="col-md col-sm-12"></div>
        <div style="text-align: center" class="col-md-3 col-sm-12">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="getTemperature()"
          >
            Temperature
          </button>
        </div>
        <div style="text-align: center" class="col-md-3 col-sm-12">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="getResistance()"
          >
            Resistance
          </button>
        </div>
        <div style="text-align: center" class="col-md-3 col-sm-12">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="getEPROM()"
          >
            EPROM
          </button>
        </div>

        <div class="col-md col-sm-12"></div>
      </div>
      <div
        class="section-4"
      >
        <div class="col-md-3 col-sm-12" style="text-align: center">
          <input [(ngModel)]="Input" class="form-control" disabled value="0" />
        </div>
      </div>
    </div>
  </div>
</div>
